
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
doc/
Meta/
inst/doc
vignettes/importance_sampling_cache/
vignettes/importance_sampling_files/
vignettes/marginal_lik.rmd
inst/extdata/JAGS-IS-comparison.rds
.DS_Store
vignettes/comparisons_to_jags.rmd
vignettes/plasmut_cache/
vignettes/plasmut_files/
vignettes/scratch.rmd
vignettes/auto/
inst/.DS_Store
inst/extdata/.DS_store
man/.DS_Store
plasmut.Rproj
R/.DS_Store
vignettes/.DS_Store
vignetts/.Rhistory
man/.Rhistory
