.Rproj.user
.Rhistory
.RData
.Ruserdata
/doc/
/Meta/
inst/doc
/vignettes/importance_sampling_cache/
/vignettes/importance_sampling_files/
/vignettes/marginal_lik.rmd
/inst/extdata/JAGS-IS-comparison.rds
.DS_Store
/vignettes/comparisons_to_jags.rmd
